/* Check This! */
header {
  position: relative;
  z-index: 100000;
}


.navbar {
  position: sticky;
  /* top: 0; */
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgba(40, 40, 40, 0.95);
  display: flex;
  padding: 0.5rem 5rem;
}

.logo img {
    width: 65px;
    height: 55px;
    border-radius: 50%;
    opacity: 0.9;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links li {
  margin: 0 1em;
}

.nav-links a {
  text-decoration: none;
  color: #f9f4f4;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  transition: color 0.4s ease;
}

.nav-links a:hover {
  color: #e74c3c;
  cursor: pointer;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e74c3c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-links a.active {
  color: #e74c3c; /* Change color for active link */
  font-weight: bold; /* Optional: Make it stand out */
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width:30%;
  background-color: rgba(40, 40, 40, 0.4); 
  backdrop-filter: blur(10px );
  z-index: 999;
  display: none;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar > :first-child {
  align-self: flex-end;
  width: 10%;
  margin-right: 20%;
}

.sidebar li{
  margin-top: 20%;
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.social-icons {
  display: flex;
  margin-right: 5%;
}

.social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 18px;
}


/* For mobile phones */
@media (max-width: 480px) {

  .logo img {
    width: 50px;
    height: 50px;
  }

  .social-icons a {
    font-size: 20px;
  }
}

/* For tablets */
@media (max-width: 768px) {
  .navbar {
    padding: 0px 20px;
  }

  .menu {
    display: none;
  }

  .sidebar.active {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
}


/* For bigger screens */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}